body, nav, ul, li, a  {margin: 0; padding: 0;}
body {font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
a {text-decoration: none;}
.logocontainer{
    margin-left:1.5em;
    margin-top:1em;
    max-width:1440em;
}
.container {
    width: 90%;
    max-width: 1100px;
    margin-left: 2em auto;
    margin-right: 0.5em auto;
}
.toggleMenu {
    display:  none;
    background: #666;
    padding: 10px 15px;
    color: #fff;
}
.nav {
    list-style: none;
     *zoom: 1;
     background:#1B0733;
     position: relative;
     margin-left:3em;
     max-width:38em;
}
.nav:before,
.nav:after {
    content: " "; 
    display: table; 
}
.nav:after {
    clear: both;
}
.nav ul {
    list-style: none;
    width: 9em;
}
.nav a {
    padding: 10px 15px;
    color:#fff;
    *zoom: 1;
}
.nav > li {
    float: left;
    border-top: 1px solid #104336;
    z-index: 200;
}
.nav > li > a {
    display: block;
}
.nav li ul {
    position: absolute;
    left: -9999px;
    z-index: 100;
}
.nav li li a {
    display: block;
    background: #180733;
    position: relative;
    z-index:100;
    border-top: 1px solid #175e4c;
}
.nav li li li a {
    background:#249578;
    z-index:200;
    border-top: 1px solid #1d7a62;
}

.nav li {
    position: relative;
}
.nav > li.hover > ul {
    left: 0;
}
.nav li li.hover ul {
    left: 100%;
    top: 0;
}

@media screen and (max-width: 800px) {
    .nav > li {
        float: none;
    }
    .nav ul {
        display: block;
        width: 100%;
    }
   .nav > li.hover > ul , .nav li li.hover ul {
        position: static;
    }
}

.nav > li > .parent {
    background-position: 95% 50%;
}
.nav li li .parent {
    background-image: url("images/downArrow.png");
    background-repeat: no-repeat;
    background-position: 95% 50%;
}
@media screen and (max-width: 800px) {
 .nav > li > .parent {
        background-position: 95% 50%;
    }
    .nav li li .parent {
        background-image: url("images/downArrow.png");
        background-repeat: no-repeat;
        background-position: 95% 50%;
    }
}

.nav a {
    *zoom: 1;
}
#textarea{
    margin-top:-3em;
    margin-left:5em;
}
#photoarea{
    margin-top:0em;
    max-height:50em;
    min-width:1500em;
}
#mainarea2{
    margin-top:10em;
    margin-left:2.5em;
    margin-right:2.5em;
    margin-bottom:1.5em;
}
.footer{
    border-top:2px;
    border-color:#C0C0C0;
    border-spacing:1em;
    margin-left:2.5em;
    margin-right:2.5em;
}
#footerarea1{
    float:left;
    width:50%;
    margin:1em;
    margin-left:3em;
    margin-bottom:3em;
    margin-right:20em;
    max-width:5em;
}
#footerarea2{
    float:left;
    width:50%;
    margin:1em;
    margin-right:1.5em;
    margin-bottom:3em;
    margin-left:30em;
    margin-top:-7em;
    max-width:30em;
}